<div class="pt-wrapper">
    <!-- Subpages -->
    <div class="subpages">
        <section class="pt-page" data-id="blog">
            <div class="section-inner custom-page-content">
                <div class="page-header color-1">
                    <h2>Blog</h2>
                </div>
                <div class="page-content">

                    <div class="row"
                         ng-repeat="post in posts track by $index">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="timeline">
                                <div class="timeline-item">
                                    <div>
                                        <a ng-href="#!/blog/{{post.id}}" class="link-highlight">
                                            <h4 class="item-title"> {{post.title}}</h4>
                                        </a>
                                    </div>
                                    <span class="item-period">{{post.date | date: 'dd MMM yyyy'}}</span>

                                    <span class="item-small">by <a
                                            ng-href="#!/blog/author/{{post.author.id}}">{{ post.author.name
                                        }}</a></span>
                                    <div class="media-block" ng-if="post.cover">
                                        <a ng-href="#!/blog/{{post.id}}">
                                            <img class="post-image img-responsive"
                                                 ng-src="{{post.cover}}"
                                                 alt="{{post.title}}"/>
                                        </a>
                                    </div>
                                    <br>
                                    <p class="item-description">{{ post.abstract }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>